Repository firetimeloop/battlegrad: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.tsx'
      exclude: 'server/'
      run: yarn stylelint {staged_files}

pra-56-yandex-cloud
  Dockerfile.server
Due: none

pra-56-yandex-cloud11
  Dockerfile.client
  Dockerfile.server
Due: none

pra-59-yandex-cloud
  Dockerfile.client
  Dockerfile.server
  packages/client/src/app/api.ts
Due: lint

pra-56-yandex-cloud
  packages/client/src/app/api.ts
Due: lint

Исправление ошибок линта
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Profile/Profile.tsx
Due: lint, stylelint

Реализации middleware проверки авторизации пользователя
  packages/server/api/yandexAPIService.ts
  packages/server/middlewares/checkAuthorization.ts
  packages/server/router/index.ts
Due: lint

Настроил проброс cookies с помощью proxy
  .env.sample
  docker-compose.yml
  lerna-debug.log
  packages/client/src/app/api.ts
  packages/client/src/components/Auth/slice.ts
  packages/server/api/yandexAPIService.ts
  packages/server/helpers/apiError.ts
  packages/server/middlewares/checkAuthorization.ts
  packages/server/package.json
  packages/server/router/index.ts
  packages/server/server.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint

Исправление путей
  packages/client/src/app/api.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Profile/Profile.tsx
Due: lint, stylelint

Настройка CORS
  packages/server/cors.ts
  packages/server/server.ts
Due: lint

Исправление отображение иконок в списке лидерборда
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Profile/Profile.tsx
Due: lint, stylelint

Исправление линта
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/pages/Profile/Profile.tsx
Due: lint, stylelint

исправления замечаний
  docker-compose.yml
  lerna-debug.log
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.tsx
Due: lint, stylelint

Oelvg/pra 55 authorization check on the backend (#32)
  .env.sample
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/server/api/yandexAPIService.ts
  packages/server/cors.ts
  packages/server/helpers/apiError.ts
  packages/server/middlewares/checkAuthorization.ts
  packages/server/package.json
  packages/server/router/index.ts
  packages/server/server.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint, stylelint

add csp, clean console output and add key to lists
  packages/client/package.json
  packages/client/src/app/csp.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/utils/requestHandlers.ts
Due: lint, stylelint

вынесение url api бэка в отдельную переменную
  .env.sample
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/vite.config.ts
  packages/server/vite.config.ts
Due: lint

Fix cors
  packages/server/cors.ts
Due: lint

Set Dynamic port to csp
  packages/client/src/app/csp.ts
Due: lint

Add fix for CSP
  packages/client/src/app/csp.ts
Due: lint

Add YANDEX_BASE_URL to docker-compose
  docker-compose.yml
Due: none

Oelvg/pra 55 authorization check on the backend (#32)
  .env.sample
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/vite.config.ts
  packages/server/api/yandexAPIService.ts
  packages/server/cors.ts
  packages/server/helpers/apiError.ts
  packages/server/middlewares/checkAuthorization.ts
  packages/server/package.json
  packages/server/router/index.ts
  packages/server/server.ts
  packages/server/tsconfig.json
  packages/server/vite.config.ts
  yarn.lock
Due: lint, stylelint

Check sequre
  .env.sample
  packages/server/server.ts
Due: lint

Revert "Check sequre"
  .env.sample
  packages/server/server.ts
Due: lint

Revert "Oelvg/pra 55 authorization check on the backend (#32)"
  .env.sample
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/vite.config.ts
  packages/server/api/yandexAPIService.ts
  packages/server/cors.ts
  packages/server/helpers/apiError.ts
  packages/server/middlewares/checkAuthorization.ts
  packages/server/package.json
  packages/server/router/index.ts
  packages/server/server.ts
  packages/server/tsconfig.json
  packages/server/vite.config.ts
  yarn.lock
Due: lint, stylelint

fix ssr
  .env.sample
  .github/workflows/build_and_push.yaml
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/vite.config.ts
  packages/server/vite.config.ts
Due: lint

исправление
  init.js
Due: none

Fix init
  init.js
Due: none

Revert "fix ssr"
  .env.sample
  .github/workflows/build_and_push.yaml
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/client.d.ts
  packages/client/vite.config.ts
  packages/server/vite.config.ts
Due: lint

fix ssr v2
  packages/client/src/app/api.ts
Due: lint

Return original docker compose
  docker-compose.yml
Due: none

add csp, clean console output and add key to lists
  packages/client/src/components/App/App.tsx
Due: lint, stylelint

rebase 2
  packages/client/src/app/api.ts
Due: lint

Rebase
  packages/client/src/components/App/App.tsx
Due: lint, stylelint

Fix csp
  packages/client/src/app/csp.ts
Due: lint

Set static port
  packages/client/src/app/csp.ts
Due: lint
