Repository firetimeloop/battlegrad: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

PRA-32 Добавление Redux хранилища
  packages/client/package.json
  packages/client/src/app/hooks.ts
  packages/client/src/app/store.ts
  packages/client/src/main.tsx
  yarn.lock
Due: lint, stylelint

PRA-15 Отображение страниц через History API
  .eslintrc.js
  packages/client/index.html
  packages/client/package.json
  packages/client/src/App.css
  packages/client/src/App.tsx
  packages/client/src/components/App/App.test.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/App/index.ts
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/App/styles/index.ts
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Layout/index.ts
  packages/client/src/components/Layout/styles/LayoutWrapper.tsx
  packages/client/src/components/Layout/styles/NavLinks.tsx
  packages/client/src/components/Layout/styles/index.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Error404/Error404.tsx
  packages/client/src/pages/Error404/index.ts
  packages/client/src/pages/Error500/Error500.tsx
  packages/client/src/pages/Error500/index.ts
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/index.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/index.ts
  packages/client/src/pages/GameOver/GameOver.tsx
  packages/client/src/pages/GameOver/index.ts
  packages/client/src/pages/Home/Home.tsx
  packages/client/src/pages/Home/index.ts
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
  packages/client/src/pages/Leaderboard/index.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/index.ts
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Profile/index.ts
  packages/client/src/pages/Signup/Signup.tsx
  packages/client/src/pages/Signup/index.ts
  yarn.lock
Due: lint, stylelint

PRA-15 fix serverData fetch in App component
  packages/client/src/components/App/App.tsx
Due: lint, stylelint

PRA-22 Документ с описанием механик и логики игры
  docs/design-document.md
  docs/images/.DS_Store
  docs/images/bonus-clock.png
  docs/images/bonus-grenade.png
  docs/images/bonus-helmet.png
  docs/images/bonus-live.png
  docs/images/bonus-shovel.png
  docs/images/bonus-star.png
  docs/images/enemy-fast.png
  docs/images/enemy-reinforced.png
  docs/images/enemy-simple.png
  docs/images/enemy-with-bonus.png
  docs/images/first-star.png
  docs/images/main-character-2.png
  docs/images/main-character.png
  docs/images/main.jpg
  docs/images/second-star.png
  docs/images/third-star.png
  docs/images/tile-bricks.png
  docs/images/tile-empty.png
  docs/images/tile-ice.png
  docs/images/tile-jungle.png
  docs/images/tile-metal.png
  docs/images/tile-water.png
Due: none

pra 22 поправил орфографию
  docs/design-document.md
Due: none

login page added
  .pnp.cjs
  .pnp.loader.mjs
  packages/client/src/client.d.ts
  packages/client/src/fonts/Inter/Inter-Medium.woff
  packages/client/src/fonts/Inter/Inter-Medium.woff2
  packages/client/src/fonts/Inter/Inter-Regular.woff
  packages/client/src/fonts/Inter/Inter-Regular.woff2
  packages/client/src/fonts/Inter/index.css
  packages/client/src/interface/Login.ts
  packages/client/src/interface/index.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/styles/Login.tsx
  packages/client/src/pages/Login/styles/index.ts
  packages/client/src/styles/Components.tsx
  packages/client/src/styles/Font.tsx
  packages/client/src/styles/index.ts
  packages/client/src/theme.ts
  packages/client/src/vendor/normalize.css
  yarn.lock
Due: lint, stylelint

PRA-14 логин и авторизация
  .eslintrc.js
  packages/client/package.json
  packages/client/src/api/login.ts
  packages/client/src/app/api.ts
  packages/client/src/app/hooks.ts
  packages/client/src/app/store.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Loader/index.ts
  packages/client/src/components/Loader/styles/Loader.tsx
  packages/client/src/components/Loader/styles/index.ts
  packages/client/src/components/Router/Router.tsx
  packages/client/src/components/Router/index.ts
  packages/client/src/components/Router/privateRoute/PrivateLoggedRoute.tsx
  packages/client/src/components/Router/privateRoute/PrivateRoute.tsx
  packages/client/src/enum/Loader.ts
  packages/client/src/enum/index.ts
  packages/client/src/fonts/Inter/Inter-Medium.woff
  packages/client/src/fonts/Inter/Inter-Medium.woff2
  packages/client/src/fonts/Inter/Inter-Regular.woff
  packages/client/src/fonts/Inter/Inter-Regular.woff2
  packages/client/src/fonts/Inter/index.css
  packages/client/src/index.css
  packages/client/src/interface/Loader.ts
  packages/client/src/interface/Login.ts
  packages/client/src/interface/Router.ts
  packages/client/src/interface/index.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/styles/Login.tsx
  yarn.lock
Due: lint, stylelint

PRA-14 фикс после ревью
  .eslintrc.js
  packages/client/package.json
  packages/client/src/api/login.ts
  packages/client/src/app/api.ts
  packages/client/src/components/Auth/slice.ts
  packages/client/src/fonts/Inter/index.css
  packages/client/src/index.css
  packages/client/src/interface/Login.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/styles/Font.tsx
  packages/client/src/utils/requestHandlers.ts
  packages/client/src/utils/withAbortController.ts
  yarn.lock
Due: lint, stylelint

cyrillvorfolomeev/pra-26-механика-игры-на-canvas-api
  .eslintrc.js
  packages/client/package.json
  packages/client/public/sprite.png
  packages/client/src/assets/levelsData.json
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/index.ts
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Game/styles/index.ts
  packages/client/src/components/Game/utils/consts.ts
  packages/client/src/components/Game/utils/game.ts
  packages/client/src/components/Game/utils/initGame.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
  packages/client/src/components/Game/utils/projectile.ts
  packages/client/src/components/Game/utils/sprite.ts
  packages/client/src/components/Game/utils/tank.ts
  packages/client/src/components/Game/utils/types.ts
  packages/client/src/index.css
  packages/client/src/pages/Game/Game.tsx
Due: lint, stylelint

PRA-26 fix levels maping
  packages/client/src/assets/levelsData.json
  packages/client/src/assets/levelsData.ts
  packages/client/src/components/Game/utils/consts.ts
  packages/client/src/components/Game/utils/initGame.ts
  packages/client/src/index.css
Due: lint

PRA-14 fix after review
  .pnp.cjs
  .pnp.loader.mjs
  packages/client/src/api/login.ts
  packages/client/src/app/store.ts
  packages/client/src/client.d.ts
  packages/client/src/components/Alert/Alert.tsx
  packages/client/src/components/Alert/index.ts
  packages/client/src/components/Alert/slice.ts
  packages/client/src/components/Alert/styles/Alert.tsx
  packages/client/src/components/Alert/styles/index.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Router/Router.tsx
  packages/client/src/components/Router/privateRoute/PrivateLoggedRoute.tsx
  packages/client/src/index.css
  packages/client/src/interface/Login.ts
  packages/client/src/interface/index.ts
  packages/client/src/pages/Login/styles/Login.tsx
  packages/client/src/theme.ts
  packages/client/src/utils/requestHandlers.ts
  packages/client/src/utils/withAbortController.ts
  yarn.lock
Due: lint, stylelint

PRA-14 fix after review
  .gitignore
Due: none

PRA-14 fix after review
  packages/client/src/utils/requestHandlers.ts
Due: lint

Добавление алиасов путей
  .eslintrc.js
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint

Добавление компонента кнопки модального окна и переработка страницы игры
  .eslintrc.js
  .prettierrc
  packages/client/src/assets/icons/down-arrow.svg
  packages/client/src/assets/icons/left-arrow.svg
  packages/client/src/assets/icons/right-arrow.svg
  packages/client/src/assets/icons/space-bar.svg
  packages/client/src/assets/icons/up-arrow.svg
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/Button/index.ts
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/Button/styles/index.ts
  packages/client/src/components/Modal/Modal.tsx
  packages/client/src/components/Modal/index.ts
  packages/client/src/components/Modal/styles/Modal.tsx
  packages/client/src/components/Modal/styles/index.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/styles/Game.tsx
  packages/client/src/pages/Game/styles/index.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, stylelint

Вынесение блока с управлением в отдельный компонент
  packages/client/src/components/ControlBlock/ControlBlock.tsx
  packages/client/src/components/ControlBlock/index.ts
  packages/client/src/components/ControlBlock/styles/ControlBlock.tsx
  packages/client/src/components/ControlBlock/styles/index.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/styles/Game.tsx
Due: lint, stylelint

Исправление стилизации
  packages/client/src/components/Modal/styles/Modal.tsx
Due: lint, stylelint

Добавление меню паузы
  .prettierrc
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/styles/Game.tsx
Due: lint, stylelint

Исправление замечаний
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/ControlBlock/ControlBlock.tsx
  packages/client/src/components/Modal/Modal.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/PauseModal/PauseModal.tsx
  packages/client/src/pages/Game/components/PauseModal/index.ts
  packages/client/src/pages/Game/components/PauseModal/styles/PauseModal.tsx
  packages/client/src/pages/Game/components/PauseModal/styles/index.ts
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
  packages/client/src/pages/Game/components/StartGameModal/index.ts
  packages/client/src/pages/Game/components/StartGameModal/styles/StartGameModal.tsx
  packages/client/src/pages/Game/components/StartGameModal/styles/index.ts
Due: lint, stylelint

Использование стрелочной функции
  packages/client/src/pages/Game/Game.tsx
Due: lint, stylelint

Переработка компонента Modal
  .eslintrc.js
  packages/client/src/components/Modal/Modal.tsx
  packages/client/src/pages/Game/Game.tsx
Due: lint, stylelint

Использование темы
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
Due: lint, stylelint

Добавление компонента LinkButton
  packages/client/src/components/LinkButton/index.ts
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
  packages/client/src/components/LinkButton/styles/index.ts
  packages/client/src/pages/Game/components/PauseModal/PauseModal.tsx
Due: lint, stylelint

Rebase
  packages/client/src/pages/Game/Game.tsx
Due: lint, stylelint

Разворот стрелки по средствам css
  packages/client/src/assets/icons/down-arrow.svg
  packages/client/src/assets/icons/left-arrow.svg
  packages/client/src/assets/icons/right-arrow.svg
  packages/client/src/components/ControlBlock/ControlBlock.tsx
  packages/client/src/components/ControlBlock/styles/ControlBlock.tsx
Due: lint, stylelint

Исправление инлайнов
  .eslintrc.js
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/PauseModal/PauseModal.tsx
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
Due: lint, stylelint

Исправление lint
  .eslintrc.js
Due: none

Rebase
  .eslintrc.js
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
Due: lint, stylelint

Упрощение
  packages/client/src/components/Modal/Modal.tsx
Due: lint, stylelint

Oelvg/pra 20 верстка экрана игры начало обратныи (#6)
  .eslintrc.js
  .prettierrc
  packages/client/src/assets/icons/space-bar.svg
  packages/client/src/assets/icons/up-arrow.svg
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/Button/index.ts
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/Button/styles/index.ts
  packages/client/src/components/ControlBlock/ControlBlock.tsx
  packages/client/src/components/ControlBlock/index.ts
  packages/client/src/components/ControlBlock/styles/ControlBlock.tsx
  packages/client/src/components/ControlBlock/styles/index.ts
  packages/client/src/components/LinkButton/index.ts
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
  packages/client/src/components/LinkButton/styles/index.ts
  packages/client/src/components/Modal/Modal.tsx
  packages/client/src/components/Modal/index.ts
  packages/client/src/components/Modal/styles/Modal.tsx
  packages/client/src/components/Modal/styles/index.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/PauseModal/PauseModal.tsx
  packages/client/src/pages/Game/components/PauseModal/index.ts
  packages/client/src/pages/Game/components/PauseModal/styles/PauseModal.tsx
  packages/client/src/pages/Game/components/PauseModal/styles/index.ts
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
  packages/client/src/pages/Game/components/StartGameModal/index.ts
  packages/client/src/pages/Game/components/StartGameModal/styles/StartGameModal.tsx
  packages/client/src/pages/Game/components/StartGameModal/styles/index.ts
  packages/client/src/pages/Game/styles/Game.tsx
  packages/client/src/pages/Game/styles/index.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lint, stylelint

cyrillvorfolomeev/pra-28-work-out-the-visual-part-of-the-game
  .eslintrc.js
  packages/client/src/components/Game/utils/consts.ts
  packages/client/src/components/Game/utils/getNextPosition.ts
  packages/client/src/components/Game/utils/initGame.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
  packages/client/src/components/Game/utils/tank.ts
Due: lint

PRA-26 fixes after review
  packages/client/src/components/Game/utils/consts.ts
  packages/client/src/components/Game/utils/game.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
Due: lint

PRA-18 страница регистрации
  packages/client/public/tank.png
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Router/Router.tsx
  packages/client/src/interface/Login.ts
  packages/client/src/interface/Register.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/pages/Register/index.ts
  packages/client/src/pages/Register/styles/Register.tsx
  packages/client/src/pages/Register/styles/index.ts
  packages/client/src/pages/Signup/Signup.tsx
  packages/client/src/pages/Signup/index.ts
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

projectiles-collide
  packages/client/src/components/Game/utils/level.ts
Due: lint

PRA-28 fix after review - code refactoring
  packages/client/src/components/Game/utils/level.ts
Due: lint

pra-27 попадание снаряда в стену
  packages/client/src/components/Game/utils/level.ts
Due: lint

PRA-28 fixes after review
  packages/client/src/components/Game/utils/consts.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
  packages/client/src/components/Game/utils/types.ts
Due: lint

Первый вариант спавна противников
  .eslintrc.js
  packages/client/src/components/Game/utils/defaultEnemyTank.ts
  packages/client/src/components/Game/utils/enemyTank.ts
  packages/client/src/components/Game/utils/game.ts
  packages/client/src/components/Game/utils/getNextPosition.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
  packages/client/src/components/Game/utils/playerTank.ts
  packages/client/src/components/Game/utils/tank.ts
  packages/client/src/utils/throttle.ts
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.tsx
