Repository firetimeloop/battlegrad: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

pra-49-forum-client
  packages/client/src/components/Forum/slice.ts
  packages/client/src/interface/Forum.ts
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/client/src/pages/Forum/styles/index.ts
Due: lint, stylelint

pra-36-add-oauth
  packages/client/src/pages/Login/Login.tsx
Due: lint, stylelint

cyrillvorfolomeev/pra-40-добавить-в-проект-memoryleaksmd-или-новыи-раздел-в-readmemd
  docs/MEMORYLEAKS.md
  docs/images/after-fix.png
  docs/images/before-fix.png
Due: none

PRA 40 перепутал картники)
  docs/images/after-fix.png
  docs/images/before-fix.png
Due: none

pra-49-forum-client
  packages/client/src/app/api.ts
  packages/client/src/app/selectors.ts
  packages/client/src/app/store.ts
  packages/client/src/components/Forum/api/comments.ts
  packages/client/src/components/Forum/api/reactions.ts
  packages/client/src/components/Forum/api/topics.ts
  packages/client/src/components/Forum/slice.ts
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Loader/styles/Loader.tsx
  packages/client/src/enum/Api.ts
  packages/client/src/enum/index.ts
  packages/client/src/interface/Forum.ts
  packages/client/src/interface/Loader.ts
  packages/client/src/interface/Profile.ts
  packages/client/src/interface/forum/comment.ts
  packages/client/src/interface/forum/reaction.ts
  packages/client/src/interface/forum/topic.ts
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/Topics.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
Due: lint, stylelint

Complete frontend theme swithing + fix layout
  packages/client/src/client.d.ts
  packages/client/src/components/Alert/styles/Alert.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Layout/styles/NavLinks.tsx
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
  packages/client/src/components/Modal/styles/Modal.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/styles/ThemeSwitcher.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Error404/styles/index.ts
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/styles/index.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/pages/Register/styles/Register.tsx
  packages/client/src/styles/Components.tsx
  packages/client/src/styles/Font.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

Complete frontend theme switcher and fix layout
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

Использование tryCatch хелпера
  packages/server/controllers/Comment.ts
  packages/server/controllers/Reaction.ts
  packages/server/controllers/Topic.ts
  packages/server/helpers/controllerHelper.ts
Due: lint

Oelvg/pra 42 implement-the-forum-api (#23)
  .env.sample
  docker-compose.yml
  package-lock.json
  packages/server/controllers/Comment.ts
  packages/server/controllers/Reaction.ts
  packages/server/controllers/Topic.ts
  packages/server/db.ts
  packages/server/helpers/controllerHelper.ts
  packages/server/index.ts
  packages/server/models/Comment.ts
  packages/server/models/Reaction.ts
  packages/server/models/Topic.ts
  packages/server/package.json
  packages/server/router/forum.ts
  packages/server/router/index.ts
  packages/server/server.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint

pra-49-forum-client
  docker-compose.yml
  packages/client/src/app/api.ts
  packages/client/src/components/Forum/slice.ts
  packages/client/src/components/Like/Like.tsx
  packages/client/src/interface/forum/comment.ts
  packages/client/src/interface/forum/reaction.ts
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Forum/Comments.tsx
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/Topics.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/client/src/styles/Components.tsx
  packages/server/server.ts
  yarn.lock
Due: lint, stylelint

Fix review errors
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/ThemeSwitcher/index.tsx
  packages/client/src/styles/Font.tsx
Due: lint, stylelint

pra-49-forum-client
  docker-compose.yml
  packages/client/src/components/Forum/api/comments.ts
  packages/client/src/components/Forum/slice.ts
  packages/client/src/components/Like/Like.tsx
  packages/client/src/interface/forum/comment.ts
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Forum/Comments.tsx
  packages/client/src/pages/Forum/Topics.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

pra-49/fix-after-review
  packages/client/src/components/Like/Like.tsx
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Loader/styles/Loader.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Forum/Comments.tsx
  packages/client/src/pages/Forum/Topics.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

pra-36/fix-after-review
  packages/client/src/app/api.ts
  packages/client/src/components/Auth/slice.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

Add saving theme in to local storage
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/interface/ThemeSwitcher.ts
Due: lint, stylelint

Made some redesign and added theme switch button
  packages/client/public/better-vcr.ttf
  packages/client/public/enemy.png
  packages/client/public/explosion.png
  packages/client/public/logo.png
  packages/client/public/tank-bg-dark.png
  packages/client/public/tank-bg-light.png
  packages/client/public/tank-bg-original.png
  packages/client/src/components/Alert/styles/Alert.tsx
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/ControlBlock/styles/ControlBlock.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/BattleGradImage.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Layout/styles/LayoutWrapper.tsx
  packages/client/src/components/Layout/styles/NavLinks.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/index.tsx
  packages/client/src/components/ThemeSwitcher/styles/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/styles/index.ts
  packages/client/src/index.css
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

Continue first commit
  packages/client/src/client.d.ts
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/styles/ThemeSwitcher.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

Complete frontend theme swithing + fix layout
  packages/client/src/client.d.ts
  packages/client/src/components/Alert/styles/Alert.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Layout/styles/NavLinks.tsx
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
  packages/client/src/components/Modal/styles/Modal.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/styles/ThemeSwitcher.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Error404/styles/index.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/pages/Register/styles/Register.tsx
  packages/client/src/styles/Components.tsx
  packages/client/src/styles/Font.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

Complete frontend theme switcher and fix layout
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

Fix forum styles
  packages/client/src/components/Loader/styles/Loader.tsx
  packages/client/src/pages/Forum/Topics.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
Due: lint, stylelint

add default avatar value
  packages/client/src/components/Avatar/Avatar.tsx
Due: lint, stylelint

Fix lint errors
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/utils/getAppComponentForCSR.tsx
  packages/client/src/utils/getAppComponentForSSR.tsx
Due: lint, stylelint

fix lint empty line
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

Исправления
  packages/client/src/components/Like/Like.tsx
  packages/client/src/components/Router/Router.tsx
Due: lint, stylelint

router-and-forum-fixes
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Like/Like.tsx
  packages/client/src/components/Router/Router.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/client/src/styles/Components.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

router-and-forum-fixes
  packages/client/src/components/Like/Like.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
Due: lint, stylelint

fix-router-and-forum
  packages/client/src/client.d.ts
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Like/Like.tsx
  packages/client/src/components/Router/Router.tsx
  packages/client/src/pages/Forum/Comment.tsx
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/client/src/styles/Components.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

Add saving theme in db, custom scrollbar
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Like/Like.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/api/theme.ts
  packages/client/src/index.css
  packages/client/src/interface/theme/theme.ts
  packages/client/src/pages/Forum/styles/Forum.tsx
  packages/server/controllers/Comment.ts
  packages/server/controllers/Theme.ts
  packages/server/db.ts
  packages/server/models/Theme.ts
  packages/server/router/index.ts
  packages/server/router/theme.ts
Due: lint, stylelint

fix doubled dispatch
  packages/client/src/components/App/App.tsx
Due: lint, stylelint

Add game keyboard tips on game page
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/GameInfo.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
Due: lint, stylelint

Fix review mistakes
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Game/styles/GameInfo.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/api/theme.ts
  packages/server/controllers/Comment.ts
Due: lint, stylelint

Create build_and_push.yaml
  .github/workflows/build_and_push.yaml
Due: none

Update build_and_push.yaml
  .github/workflows/build_and_push.yaml
Due: none

pra-56-yandex-cloud
  package.json
Due: none

pra-56-yandex-cloud
  Dockerfile.client
  Dockerfile.server
Due: none

pra-56-yandex-cloud
  Dockerfile.client
  Dockerfile.server
  package-lock.json
  package.json
  yarn.lock
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.tsx, but not: server/
