Repository firetimeloop/battlegrad: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint

lint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

Добавление противников первой версии
  .eslintrc.js
  packages/client/src/components/Game/utils/defaultEnemyTank.ts
  packages/client/src/components/Game/utils/enemyTank.ts
  packages/client/src/components/Game/utils/game.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/playerTank.ts
  packages/client/src/components/Game/utils/tank.ts
  packages/client/src/utils/random.ts
  packages/client/src/utils/throttle.ts
Due: lint

PRA-27 стрельба и взрывы
  packages/client/src/components/Game/utils/explosion.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
  packages/client/src/components/Game/utils/projectile.ts
  packages/client/src/components/Game/utils/tank.ts
Due: lint

PRA_27 fix after review
  packages/client/src/components/Game/utils/explosion.ts
  packages/client/src/components/Game/utils/projectile.ts
Due: lint

Oelvg/pra 25 implemented one of the game mechanics (#13)
  .eslintrc.js
  packages/client/src/components/Game/utils/defaultEnemyTank.ts
  packages/client/src/components/Game/utils/enemyTank.ts
  packages/client/src/components/Game/utils/game.ts
  packages/client/src/components/Game/utils/getNextPosition.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/levelView.ts
  packages/client/src/components/Game/utils/playerTank.ts
  packages/client/src/components/Game/utils/tank.ts
  packages/client/src/utils/random.ts
  packages/client/src/utils/throttle.ts
Due: lint

tank-bg
  packages/client/public/battlegrad.png
  packages/client/public/tank-bg.png
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Game/utils/initGame.ts
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Modal/Modal.tsx
  packages/client/src/components/Router/Router.tsx
  packages/client/src/index.css
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
Due: lint, stylelint

shoot-enemy
  packages/client/src/components/Game/utils/defaultEnemyTank.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Game/utils/projectile.ts
  packages/client/src/components/Game/utils/tank.ts
Due: lint

styles-improvement
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/BattleGradImage.tsx
  packages/client/src/components/Game/styles/BattlegradLogo.svg
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Layout/styles/LayoutWrapper.tsx
  packages/client/src/components/Layout/styles/NavLinks.tsx
  packages/client/src/components/Modal/styles/Modal.tsx
  packages/client/src/index.css
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
  packages/client/src/pages/Login/styles/Login.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/pages/Register/styles/Register.tsx
Due: lint, stylelint

style-and-finish-game
  packages/client/src/app/store.ts
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/slice.ts
  packages/client/src/components/Game/styles/BattleGradImage.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Game/utils/consts.ts
  packages/client/src/components/Game/utils/level.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/StartGameModal/StartGameModal.tsx
Due: lint, stylelint

style-and-finish-game
  packages/client/index.html
  packages/client/public/android-chrome-192x192.png
  packages/client/public/android-chrome-256x256.png
  packages/client/public/apple-touch-icon.png
  packages/client/public/browserconfig.xml
  packages/client/public/favicon-16x16.png
  packages/client/public/favicon-32x32.png
  packages/client/public/favicon.ico
  packages/client/public/mstile-150x150.png
  packages/client/public/site.webmanifest
  packages/client/public/vite.svg
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/styles/LayoutWrapper.tsx
  packages/client/src/pages/Error404/Error404.tsx
  packages/client/src/pages/Error404/styles/index.ts
Due: lint, stylelint

style-and-finish-game
  packages/client/src/components/Game/styles/GameScreen.tsx
Due: lint, stylelint

style-and-finish-game
  packages/client/src/components/Game/styles/BattlegradLogo.svg
  packages/client/src/components/Game/utils/defaultEnemyTank.ts
  packages/client/src/components/Game/utils/enemyTank.ts
  packages/client/src/components/Game/utils/playerTank.ts
  packages/client/src/components/Game/utils/tank.ts
  packages/client/src/index.css
Due: lint

Подключение api лидерборда
  .eslintrc.js
  packages/client/src/app/store.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Avatar/index.ts
  packages/client/src/components/Avatar/styles/Avatar.tsx
  packages/client/src/components/Avatar/styles/index.ts
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/index.ts
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/index.ts
  packages/client/src/components/Leaderboard/index.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/components/Router/Router.tsx
  packages/client/src/interface/Leaderboard.ts
  packages/client/src/interface/Login.ts
  packages/client/src/interface/Register.ts
  packages/client/src/interface/index.ts
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
Due: lint, stylelint

Доработка страницы лидерборда
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
Due: lint, stylelint

Исправление ошибок lint'a
  packages/client/src/components/Game/utils/projectile.ts
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/index.ts
Due: lint, stylelint

pra-36-add-oauth-authorization-to-the-project
  .eslintrc.js
  packages/client/src/app/api.ts
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Router/Router.tsx
  packages/client/src/interface/Login.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/YandexLogo.tsx
  packages/client/src/pages/Login/styles/Login.tsx
Due: lint, stylelint

исправления
  packages/client/src/app/selectors.ts
  packages/client/src/app/store.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Leaderboard/Leaderboard.tsx
Due: lint, stylelint

pra-21-user-profile-page
  .eslintrc.js
  packages/client/public/emptyAvatar.svg
  packages/client/src/app/api.ts
  packages/client/src/components/Auth/slice.ts
  packages/client/src/index.css
  packages/client/src/interface/Profile.ts
  packages/client/src/interface/Register.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/styles/Login.tsx
  packages/client/src/pages/Login/styles/index.ts
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Profile/styles/Profile.tsx
  packages/client/src/pages/Profile/styles/index.ts
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/pages/Register/styles/Register.tsx
  packages/client/src/styles/Components.tsx
  packages/client/src/utils/password.ts
Due: lint, stylelint

pra-21-user-profile-page
  packages/client/src/pages/Profile/Profile.tsx
  packages/client/src/pages/Profile/styles/Profile.tsx
  packages/client/src/styles/Components.tsx
Due: lint, stylelint

Исправление замечаний
  packages/client/public/tank-bg-2048×2048.png
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/Router/Router.tsx
Due: lint, stylelint

Oelvg/pra 37 add api for leaderboard (#17)
  .eslintrc.js
  packages/client/public/tank-bg-2048×2048.png
  packages/client/src/app/selectors.ts
  packages/client/src/app/store.ts
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/components/Avatar/index.ts
  packages/client/src/components/Avatar/styles/Avatar.tsx
  packages/client/src/components/Avatar/styles/index.ts
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/utils/projectile.ts
  packages/client/src/components/Leaderboard/Leaderboard.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/LeaderboardTable.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/index.ts
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/index.ts
  packages/client/src/components/Leaderboard/index.ts
  packages/client/src/components/Leaderboard/slice.ts
  packages/client/src/components/Router/Router.tsx
  packages/client/src/interface/Leaderboard.ts
  packages/client/src/interface/Login.ts
  packages/client/src/interface/Register.ts
  packages/client/src/interface/index.ts
  packages/client/src/pages/Leaderboard/Leaderboard.tsx
Due: lint, stylelint

fix-eslint
  packages/client/src/components/Game/utils/projectile.ts
Due: lint

PRA-35 Configure redux and router in SSR
  .eslintrc.js
  lefthook.yml
  packages/client/package.json
  packages/client/src/app/store.ts
  packages/client/src/components/Alert/Alert.tsx
  packages/client/src/components/Alert/styles/Alert.tsx
  packages/client/src/components/App/App.tsx
  packages/client/src/components/Auth/slice.ts
  packages/client/src/components/Game/utils/sprite.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/utils/getAppComponentForCSR.tsx
  packages/client/src/utils/getAppComponentForSSR.tsx
  packages/client/src/utils/requestHandlers.ts
  packages/server/.eslintignore
  packages/server/index.html
  packages/server/package.json
  packages/server/server.ts
  packages/server/src/entry-client.tsx
  packages/server/src/entry-server.tsx
  packages/server/src/render-redux-store.tsx
  packages/server/src/render-styles.tsx
  packages/server/tsconfig.json
  packages/server/vite.config.ts
  yarn.lock
Due: lint, stylelint

PRA-35 fix typescript error
  packages/client/src/components/Leaderboard/Leaderboard.tsx
Due: lint, stylelint

pra-21-fix-after-review
  packages/client/src/app/selectors.ts
  packages/client/src/pages/Profile/Profile.tsx
Due: lint, stylelint

Made some redesign and added theme switch button
  packages/client/public/better-vcr.ttf
  packages/client/public/enemy.png
  packages/client/public/explosion.png
  packages/client/public/logo.png
  packages/client/public/tank-bg-dark.png
  packages/client/public/tank-bg-light.png
  packages/client/public/tank-bg-original.png
  packages/client/src/components/Alert/styles/Alert.tsx
  packages/client/src/components/App/styles/AppWrapper.tsx
  packages/client/src/components/Button/styles/Button.tsx
  packages/client/src/components/ControlBlock/styles/ControlBlock.tsx
  packages/client/src/components/Game/Game.tsx
  packages/client/src/components/Game/styles/BattleGradImage.tsx
  packages/client/src/components/Game/styles/GameScreen.tsx
  packages/client/src/components/Game/styles/GameWrapper.tsx
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/Layout/styles/LayoutWrapper.tsx
  packages/client/src/components/Layout/styles/NavLinks.tsx
  packages/client/src/components/Leaderboard/components/LeaderboardTable/styles/LeaderboardTable.tsx
  packages/client/src/components/LinkButton/styles/LinkButton.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/index.tsx
  packages/client/src/components/ThemeSwitcher/styles/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/styles/index.ts
  packages/client/src/index.css
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

Continue first commit
  packages/client/src/client.d.ts
  packages/client/src/components/Layout/Layout.tsx
  packages/client/src/components/ThemeSwitcher/ThemeSwitcher.tsx
  packages/client/src/components/ThemeSwitcher/styles/ThemeSwitcher.tsx
  packages/client/src/theme.ts
Due: lint, stylelint

fix lint
  packages/client/src/pages/Profile/Profile.tsx
Due: lint, stylelint

PRA-48 Server infrastructure for the forum
  Dockerfile.client
  Dockerfile.server
  docker-compose.yml
  package.json
  packages/client/index.html
  packages/client/package.json
  packages/client/src/components/Avatar/Avatar.tsx
  packages/client/src/index.css
  packages/client/src/main.tsx
  packages/server/server.ts
Due: lint, stylelint

PRA-48 lock packages in package json
  package.json
  packages/client/package.json
  packages/server/package.json
Due: none

pra-36-add-oauth-authorization-to-the-project
  packages/client/src/app/api.ts
  packages/client/src/interface/Login.ts
  packages/client/src/pages/Login/Login.tsx
Due: lint, stylelint

Исправление моделей
  packages/server/models/Comment.ts
  packages/server/models/Reaction.ts
  packages/server/tsconfig.json
Due: lint

Исправление пути route
  packages/server/package.json
  packages/server/router/index.ts
  packages/server/server.ts
Due: lint

Первая версия, добавление моделей
  docker-compose.yml
  package-lock.json
  packages/server/controllers/Comment.ts
  packages/server/controllers/Reaction.ts
  packages/server/controllers/Topic.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/Comment.ts
  packages/server/models/Reaction.ts
  packages/server/models/Topic.ts
  packages/server/router/forum.ts
  packages/server/router/index.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint

Доработки по серверной части форума
  packages/server/controllers/Topic.ts
  packages/server/index.ts
Due: lint

Доработка api
  packages/server/controllers/Comment.ts
  packages/server/controllers/Reaction.ts
  packages/server/controllers/Topic.ts
  packages/server/package.json
  packages/server/router/forum.ts
  packages/server/router/index.ts
  packages/server/server.ts
Due: lint

Исправление подключения контейнера server к контейнеру с базой
  .env.sample
  docker-compose.yml
  packages/server/server.ts
  yarn.lock
Due: lint

cyrillvorfolomeev/pra-38-добавить-еще-одно-web-api-кроме-canvas-fetch
  packages/client/src/components/Game/Game.tsx
  packages/client/src/utils/toggleFullScreen.ts
Due: lint, stylelint

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.tsx
